. {
    display:flex;
    height:80%;
    width:100%;
    align-items: center;
    justify-content: center;
}
.login-form {
    display:flex;
    flex-direction: column;
    padding:50px;
    background-color:var(--bg-color);
    border-radius:var(--spacer2);
}
DIV {
    margin:var(--spacer);
}
select {
    width:100%;
}
.login-status {
    min-height: 20px;
    margin-left:10px;
    margin-top:5px;
}
#skip {
    margin-left:10px;
}
button {
    height:50px;
    min-width:100px;
}
